<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beautify.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bodyBlack">
    <h1 class="neonText">MACHINE LEARNING TOOL BOX</h1>
        
    <div class="fileuploading">
        <h1>File has been uploaded successfully</h1>
        <h3 class="fontStyle">Model Name: {{modelName}}</h3>
        <h2>Next step is to choose a type:</h2>
    </div>

    <div class="whitebox">
        <form action="{{ url_for('showData') }}" method="POST">
            <input type="submit" name="id" value="Head" class="submit">
            <input type="submit" name="id" value="Describe" class="submit">
            <input type="submit" name="id" value="PlotGraph" class="submit">
            <input type="submit" name="id" value="Predict" class="submit">
        </form>
    </div>

    <div class="whitebox">
        <h2 style="margin-top: 1%;">{{message}}</h2>
    </div>

    {%if flag==1%}
    <!-- <table style="background-color: tomato;">
        <th>Describe</th>
        <tr><td>Count</td></tr>
        <tr><td>Sum</td></tr>
    </table> -->
    <div id="tableStyle">
        <table>
            {% for i in h%}
            <tr>
                {% for j in i%}

                <td>{{j}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    </div>
    {%endif%}

    {%if flag==3%}
    <div class="fileuploading">
        <form action="{{ url_for('Graph') }}" method="POST">
            <center>
            <input type="text" name="xcol">
            <input type="submit" value="submit" class="submit">
            <center>

        </form>
    </div>

    {%endif%}
    {%if flag==4 and typename==2%}
    <!-- for predicted option -->
    <div class="peachbox">
        <form action="{{ url_for('linearregression') }}" method="POST">

            <input type="file" id="filename" name="filename"><br /><br />
            <div class="tooltip" id="cursive">Hint
                <span class="tooltiptext">
                    Getting confused what to select..?
                    Select Learning rate as 0.003 and Epochs values as 1100 to automate the process.
                </span>
            </div>
            <br />
            <input type="text" id="fname1" name="fname1" class="inputStyle" placeholder="Learning Rate">
            <div id="cursive">Preferable between 0.001 to 0.02</div>

            <br /><br />
            <input type="text" id="fname2" name="fname2" class="inputStyle" placeholder="Epochs value ">
            <div id="cursive">Preferable between 1000 to 5000</div>
            <input type="submit" name="linear" value="Submit" class="submit">
        </form>
    </div>
    {%endif%}

    {%if flag==4 and typename==1%}
    <!-- for predicted option -->
    <div class="greybox">
        
        <form action="{{ url_for('logisticregression') }}" method="POST">
            <input type="radio" id="ratio" name="ratio1" value="1">
            <label for="ratio">60:40</label><br>

            <input type="radio" id="ratio" name="ratio2" value="2">
            <label for="ratio">70:30</label><br>

            <input type="radio" id="ratio" name="ratio3" value="3">
            <label for="ratio">80:20(default)</label><br>
        </form>

        <!-- <form action="{{ url_for('linearregression') }}" method="POST">

            <input type="file" id="filename" name="filename"><br /><br />
            <div class="tooltip" id="cursive">Hint
                <span class="tooltiptext">
                    Getting confused what to select..?
                    Select Learning rate as 0.003 and Epochs values as 1100 to automate the process.
                </span>
            </div>
            <br />
            <input type="text" id="fname1" name="fname1" class="inputStyle" placeholder="Learning Rate">
            <div id="cursive">Preferable between 0.001 to 0.02</div>

            <br /><br />
            <input type="text" id="fname2" name="fname2" class="inputStyle" placeholder="Epochs value ">
            <div id="cursive">Preferable between 1000 to 5000</div>
            <input type="submit" name="linear" value="Submit" class="submit">
        </form> -->
    </div>
    {%endif%}
</body>

</html>