<!DOCTYPE html>
<html>
    <head>
        <title>Linear HTML</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/beautify.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body class="bodyBlack">
       
        <h1 class="neonText">MACHINE LEARNING TOOL BOX</h1>
        <div class="whitebox">
            <h1>Hypothesis:</h1>
            <h3>{{hypo}}</h3>
            <h2 style="margin-top: 1%;">The below table shows Predicted values</h2>
            
        </div>

        <div id="tableStyle">
            <table>
                {% for i in predict1%}
                <tr>
                    {% for j in i%}
                    <td>{{j}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>